@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row">
        <div class="col-md-6 text-center">
         <h1 class="display-4">Welcome</h1>
        </div>
        <div class="col-md-6" style="padding-bottom: 30px;padding-top: 30px;padding-right: 100px;padding-left: 100px;">
            @Html.Partial("_SignUp")
        </div>
    </section>
</main>
