@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row">
        <div class="col-md-6 text-center">
         <h1 class="display-4">Welcome</h1>
        </div>
        <div class="col-md-6">
         @Html.Partial("_Login")
        </div>
    </section>
</main>
