@{
    ViewData["Title"] = "Familiar Character Page";
    Layout="~/Views/Shared/_DashboardLayout.cshtml";
}

@Html.Partial("_NewCharacter")


<footer class="border-top footer-content text-muted">
    <div class="container">
        &copy; 2019 - Familiar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>