@{
    ViewData["Title"] = "Dashboard Page";
    Layout="~/Views/Shared/_DashboardLayout.cshtml";
}

<main class="container-fluid">
<div class="row">
<section class="col-md-3" style="background-color:red; height:300px"></section>
<section class="col-md-6" style="background-color:black"></section>
<section class="col-md-3" style="background-color:blue"></section>
</div>
</main>