@{
    ViewData["Title"] = "Dashboard Page";
    Layout="~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-md-6 text-center">
     <h1 class="display-4">Dashboard Display</h1>
</div>

<footer class="border-top footer-content text-muted">
    <div class="container">
        &copy; 2019 - Familiar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>