<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Familiar</title>
    <script src="https://kit.fontawesome.com/9c9a98a47a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
    
        @Html.Partial("_DashBoardNavBar");

    <!-- Page Content -->
    <main class="container-fluid">
        <article class="row"> 
            <section class="col-md-2 sidebar-left-style">
                <div class="sidebar-left">
                    <!-- Sidebar Navbar -->
                     <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Familiar Sidebar</h3>
                        </div>
         <ul class="list-unstyled components">
            <p>Your Profile</p>
                <div id="page-wrapper">
                    <div>
                    Select a JSON file: 
                    <input type="file" id="fileInput">
                    </div>
                    <pre id="fileDisplayArea"><pre>
                </div>
            <li class="active">
                </ul> 
                <a href="#homeSubmenu" data-toggle="collapse" class="dropdown-toggle">
                    <h6><strong>Join A Room</strong></h6>
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                     <li class=".roombutton-hov">
                        <button type="submit" class="roombutton"name="room" value="RoomA" asp-controller="Room" asp-action="Index" >
                        Room A</button>
                    </li>
                    <li class=".roombutton-hov">
                        <button type="submit" class="roombutton" name="room" value="RoomB" asp-controller="Room" asp-action="Index" >
                        Room B</button>
                    </li>
                 </ul>
            </li>
            <a href="#pageSubmenu">
                <p>
                    <span style="font-size .5em;">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    Add A Room
                <p> 
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" class="dropdown-toggle">
                <h6><strong>Characters</strong></h6> 
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                        <a asp-controller="Character" asp-action="ViewCharacter">The Witcher</a>
                    </li>
                    <li>
                        <a asp-controller="Character" asp-action="ViewCharacter">Yennifer</a>
                    </li>
                    <li>
                        <a asp-controller="Character" asp-action="ViewCharacter">Triss Merigold</a>
                    </li>
                </ul>
            <a asp-controller="Character" asp-action="NewCharacter">
                <p>
                    <span style="font-size .5em;">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    Add A Character
                </p> 
            </a>
            <li>
                <a href="#">About Familiar</a>
            </li>
    </nav>
            </section>
            <section class="col-md-7">
                <div class="main-content">
                    @RenderBody()
    
                   <div style="display:flex;"> 
                       <p>Container 1</p>
                       <p>Container 2</p>
                       <p>Container 3</p>
                   </div>
                </div>
            </section>
            <section class="col-md-3 sidebar-right-style"> 
                <div class="sidebar-right">
                        <div class="chatlog">
                            <p style="list-style-type:none;" id="messagesList"></p>
                        </div>
                        <div class="row">&nbsp;</div>
                     <footer class="border-top">
                        
                        <div class="input-group chatbar">
                        
                        <input type="text" id="messageInput"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                        </div>
                        </div>
                    </footer>
                </div>
            </section>
        </article>     
    </main>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>

