 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 dashnav">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Familiar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-outline-dark navbar-btn" asp-controller="Home" asp-action="Index" >Log Out</button>
    </div>
</nav>