
<form>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" id="Email" placeholder="Enter Your Email Address">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="text" class="form-control" id="Password" placeholder="Enter Your Password">
  </div>
</form>